.profile__add-button {
    background-image: url(../../../images/symbols/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    margin: 0 0 0 auto;
    padding: 0;
    cursor: pointer;
    transition: 0.4s linear;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 917px) {
    .profile__add-button {
        width: 100%;
        justify-content: center;
        margin: 36px auto 0;
        padding: 0;
        max-width: 336px;
    }
}
 
@media screen and (max-width: 618px) {
    .profile__add-button {
        margin: 34px auto 0;
        background-image: url(../../../images/symbols/plus_s.svg);
    }
}